@import url('../reset.css');

/* ==========================================
 Navegador lateral
========================================== */
.navigator {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.navigator ul li { margin: 3.75rem 0; }

.navigator ul li:first-child { margin-top: 0; }

.navigator ul li:last-child { margin-bottom: 0; }

.navigator ul li a { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  background-color: black;
  position: relative;
  cursor: pointer;
}

.navigator::before {
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  z-index: 0;
}

/* .navigator ul { z-index: 1; } */
.navigator ul li a:hover,
.navigator ul li a.active {
  color: var(--primaryColor);
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.navigator .navigator__icon {
  position: absolute;
  top: -20px;
}